.pictogramaImg{ width: 50px; margin: 0 auto;}
ul.base-ul{ padding-left: 0px }
ul.base-ul>li{ list-style: none; margin-left: 0px; padding-top: 3px }
.peligro{ background-color: red; color: white }
.dropdown-menu-large{ min-width: 260px !important; }
.dropdown-content{
	padding: 5px !important;
	font-size: 9pt !important; 
	line-height: 14px;
	font-weight: normal;
}
.list-comma{ margin-bottom: 0px; padding: 0px;}
.list-comma li:after{ content: ","; }
.list-comma li:last-child:after{ content: ""; }
.list-comma li{ 
	display: inline-block; 
    list-style: none;
    margin: 0px;
}
.row-xs-flex-center {
  display:flex;
  align-items:center;
}
.vertical-distributed-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	justify-content: space-around;
}
.card-tabs>li>a{
	padding: 6px 8px !important;
}
#card-main{ margin-bottom: 8px; }