<div id="card" class="text-left">
	<div class="top-header">
		Risctox ficha de sustancia
	</div>

	<ul class="nav nav-tabs card-tabs" style="margin-top:3px; text-align:center;">
		<li role="presentation" data-bind="css: { active: section == 'identificacion' }">
			<a data-bind="click: function() { setSection('identificacion') }">
				<img src="js/app/view/image/ico_indentificacion.jpg"><br>
				identif.
			</a>
		</li>	
		<li role="presentation" data-bind="if: hasSalud, css: { active: section == 'salud' }">
			<a data-bind="click: function() { setSection('salud') }">
				<img src="js/app/view/image/ico_danos_sl.jpg" alt=""><br>
				r. salud
			</a>
		</li>	
		<li role="presentation" data-bind="if: hasNormativa, css: { active: section == 'normativa' }">
			<a data-bind="click: function() { setSection('normativa') }">
				<img src="js/app/view/image/ico_normativa.jpg" alt=""><br>
				normat.
			</a>
		</li>	
		<li role="presentation" data-bind="if: hasMedioAmbiente, css: { active: section == 'medioAmbiente' }">
			<a data-bind="click: function() { setSection('medioAmbiente') }">
				<img src="js/app/view/image/ico_danos_ma.jpg" alt=""><br>
				medio am.
			</a>
		</li>	
	</ul>

	<div class="container-fluid" id="card-main">
		<div data-bind="if: isSection('identificacion')">
			<div data-bind="component: 
				{ name: 'identificacion'
				, params: { substanceId: substanceId, identificacion: identificacion } 
				}">
			</div>
		</div>
		
		<div data-bind="if: isSection('salud')">
			<div data-bind="component: 
				{ name: 'salud'
				, params: 
					{ substanceId: substanceId
					, featuredLists: identificacion.featuredLists
					, salud: salud } 
				}">
			</div>
		</div>

		<div data-bind="if: isSection('normativa')">
			<div data-bind="component: 
				{ name: 'normativa'
				, params: 
					{ substanceId: substanceId
					, featuredLists: identificacion.featuredLists } 
				}">
			</div>
		</div>

		<div data-bind="if: isSection('medioAmbiente')">
			<div data-bind="component: 
				{ name: 'medioAmbiente'
				, params: 
					{ substanceId: substanceId
					, featuredLists: identificacion.featuredLists
					, medioAmbiente: medioAmbiente } 
				}">
			</div>
		</div>

	</div>

	<div style="margin-bottom: 10px;" class="text-center">
		<a class="btn btn-primary" href="#/finder">nueva búsqueda</a>
	</div>
</div>