<!-- ko if: nombre -->
<div class="list-group">
	<div class="list-group-item">
		<div class="row" data-bind="if: nombre">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.nombre"></span>
				</div>
				Nombre:
			</div>	
			<div class="col-xs-8" data-bind="html: nombre"></div>
		</div>
		
		<div class="row" data-bind="if: sinonimos">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.sinonimos"></span>
				</div>
				Sinónimos:
			</div>
			<ul class="col-xs-8 small list-comma" data-bind="foreach: sinonimos">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
		
		<div class="row" data-bind="if: num_cas">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.num_cas"></span>
				</div>
				CAS:
			</div>
			<div class="col-xs-8" data-bind="text: num_cas"></div>
		</div>
		
		<div class="row" data-bind="if: hasEinecs">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.num_ce_einecs"></span>
				</div>
				EINECS:
			</div>
			<div class="col-xs-8" data-bind="text: num_ce_einecs"></div>
		</div>
		
		<div class="row" data-bind="if: hasElincs">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.num_ce_einecs"></span>
				</div>
				ELINCS:
			</div>
			<div class="col-xs-8" data-bind="text: num_ce_elincs"></div>
		</div>
		
		<div class="row" data-bind="if: num_rd">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.num_rd"></span>
				</div>
				Nº índice:
			</div>
			<div class="col-xs-8" data-bind="text: num_rd"></div>
		</div>
	</div>
	
	<!-- ko if: listaNegraClassifications -->
	<div class="list-group-item">
		<div class="text-muted list-group-item-heading">
			<div class="dropdown" style="display:inline">
				<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
				<span class="dropdown-menu dropdown-content dropdown-menu-large" data-bind="text: descriptions.listaNegra"></span>
			</div>
			Lista negra ISTAS:
		</div>
		<ul class="list-comma" data-bind="foreach: listaNegraClassifications">
			<li data-bind="text: $data"></li>
		</ul>
	</div>
	<!-- /ko -->
	
	<!-- ko if: nums_icsc -->
	<div data-bind="if: nums_icsc" class="list-group-item">
		<div class="text-muted" style="display: inline;">
			Ficha Internacional de Seguridad Química (<a href="http://www.insht.es" target="_blank">INSHT</a>):
		</div>
		<ul class="list-comma" data-bind="foreach: nums_icsc" style="display: inline;">
			<li>
				<a href="#" target="_blank" data-bind="attr: { href: $parent.getInshtUrl($data) }, text: id"></a>
			</li>
		</ul>
	</div>
	<!-- /ko -->
</div>
<!-- /ko -->

<!-- ko if: hasClassificationOrLabelingRd1272 -->
<div class="panel panel-default">
	<div class="panel-heading panel-title">
		<div class="dropdown" style="display:inline">
			<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
			<span class="dropdown-menu dropdown-menu-large dropdown-content text-muted" data-bind="text: descriptions.clp"></span>
		</div>
		Clasificación y etiquetado reglamento 1272/2008
	</div>
	
	<div class="row row-xs-flex-center panel-body">
		<!-- ko if: pictogramasRd1272 -->
		<div class="col-xs-3 text-muted small vertical-distributed-container" data-bind="foreach: pictogramasRd1272">
			<div class="dropdown vertical-distributed-container">
				<img data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="attr: { src: imageUrl, alt: description }" class="pictogramaImg" />
				<span class="dropdown-menu dropdown-content" style="vertical-align: middle" data-bind="text: description"></span>
			</div>
		</div>
		<!-- /ko -->
	
		<div class="col-xs-9 list-group">
			<div class="list-group-item">
				<ul data-bind="foreach: frasesH" class="base-ul small">
					<li data-bind="if: fraseH">
						<b data-bind="html: fraseH"></b>: <span data-bind="html: fraseHDescription"></span>
					</li>
				</ul>
			</div>
	
			<!-- ko if: explosiva -->
			<div class="list-group-item">
				<b>Explosiva</b>: Peligros físicos que deben confirmarse mediante ensayos.
			</div>
			<!-- /ko -->
	
			<!-- ko if: notas_rd1272 -->
			<div class="list-group-item">
				<b class="small">Notas: </b>
				<ul class="list-comma" data-bind="foreach: notas_rd1272" style="display:inline">
					<li>
						<div class="dropdown" data-bind="visible: description" style="display:inline">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="text: key"></a>
							<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="text: description"></span>
						</div>
					</li>
				</ul>
			</div>
			<!-- /ko -->
	
			<!-- ko if: concentracionEtiquetadoRd1272 -->
			<table class="table-condensed small list-group-item">
				<thead>
					<tr>
						<th>Concentración</th>
						<th>Etiquetado</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: concentracionEtiquetadoRd1272">
					<tr data-bind="ifnot: concentracion">
						<td data-bind="html: etiquetado" colspan="2"></td>
					</tr>
					<tr data-bind="if: concentracion">
						<td data-bind="html: concentracion"></td>
						<td data-bind="html: etiquetado"></td>
					</tr>
				</tbody>
			</table>
			<!-- /ko -->
		</div>
	</div>
</div>
<!-- /ko -->

<!-- ko if: hasClasificacionRd363 -->
<div class="panel panel-default">
	<div role="button" data-toggle="collapse" aria-expanded="false" href="#collapseClasificacionRd363" aria-controls="collapseClasificacionRd363" class="panel-heading panel-title">
		Clasificación y etiquetado RD 363/1995 <span class="glyphicon glyphicon-menu-down" ></span>
	</div>
	<div class="collapse panel-body row" id="collapseClasificacionRd363">
		<!-- ko if: pictogramasRd363 -->
		<div class="col-xs-3 vertical-distributed-container" data-bind="foreach: pictogramasRd363">
			<div class="small text-muted">
				<img aria-haspopup="true" aria-expanded="true" data-bind="attr: { src: imageUrl, alt: description }" class="pictogramaImg" />
				<span data-bind="text: description"></span>
			</div>
		</div>
		<!-- /ko -->
		<!-- ko if: frasesR -->
		<div class="col-xs-9">
			<div class="list-group-item">
				<ul data-bind="foreach: frasesR" class="base-ul small">
					<li data-bind="if: name">
						<b data-bind="html: name"></b>: <span data-bind="html: description"></span>
					</li>
				</ul>
			</div>
			<!-- ko if: mustShowFrasesRDanesa -->
			<div class="list-group-item">
				<div class="list-group-item-heading">Frases R según clasificación de la EPA danesa</div>
				<ul data-bind="foreach: frasesRDanesa" class="base-ul">
					<li data-bind="if: name">
						<b data-bind="html: name"></b>: <span data-bind="html: description"></span>
					</li>
				</ul>
			</div>
			<!-- /ko -->
			<!-- ko if: frasesS -->
			<div class="list-group-item">
				<ul data-bind="foreach: frasesS" class="base-ul small">
					<li data-bind="if: name">
						<b data-bind="html: name"></b>: <span data-bind="html: description"></span>
					</li>
				</ul>
			</div>
			<!-- /ko -->
			<!-- ko if: notas_rd363 -->
			<div class="list-group-item">
				<b class="small">Notas: </b>
				<ul class="list-comma" data-bind="foreach: notas_rd363" style="display:inline">
					<li>
						<div class="dropdown" data-bind="visible: description" style="display:inline">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="text: key"></a>
							<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="text: description"></span>
						</div>
					</li>
				</ul>
			</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->
	</div>
</div>
<!-- /ko -->

<!-- ko if: hasValoresLimite -->
<div class="panel panel-default">
	<div class="panel-heading panel-title">
		<!-- <a href="#/page">
			<span class="glyphicon glyphicon-question-sign dropdown-toggle" ></span>
		</a> -->
		Valores límite de exposición profesional
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<table class="table small">
				<div class="list-group-item-heading">Ambientales</div>
				<thead>
					<tr>
						<th data-bind="visible: hasVlaEstado">
							<div class="dropdown" style="display:inline">
								<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
								<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.vlaEstado"></span>
							</div>
							Estado
						</th>
						<th data-bind="visible: hasVlaEd">
							<div class="dropdown" style="display:inline">
								<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
								<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.vlaEd"></span>
							</div>
							VLA-ED
						</th>
						<th data-bind="visible: hasVlaEc">
							<div class="dropdown" style="display:inline">
								<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
								<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.vlaEc"></span>
							</div>
							VLA-EC
						</th>
						<th data-bind="visible: hasVlaNotas">Notas</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: valoresLimiteAmbiental">
					<tr>
						<td data-bind="visible: estado">
							<span class="base-ul" data-bind="html: estado"></span>
						</td>
						<td data-bind="visible: $parent.hasVlaEd">
							<p class="base-ul" data-bind="visible: ed_ppm">
								<span data-bind="html: ed_ppm"></span>&nbsp;ppm
							</p>
							<p class="base-ul" data-bind="visible: ed_mg_m3"><span data-bind="html: ed_mg_m3"></span>&nbsp;mg/m3</p>
						</td>
						<td data-bind="visible: $parent.hasVlaEc">
							<p data-bind="visible: ec_ppm">
								<span class="base-ul" data-bind="html: ec_ppm"></span>&nbsp;ppm
							</p>
							<p data-bind="visible: ec_mg_m3">
								<span class="base-ul" data-bind="html: ec_mg_m3"></span>&nbsp;mg/m3
							</p>
						</td>
						
						<td data-bind="visible: $parent.hasVlaNotas">
							<ul class="list-comma" data-bind="foreach: notas">
								<li>
									<div class="dropdown" style="display:inline" data-bind="if: description">
										<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
										<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="html: description"></span>
									</div>
									<span data-bind="text: key"></span>
								</li>
							</ul> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-bind="if: hasValoresLimiteBiologico" class="list-group-item">
			<div class="list-group-item-heading">
				<!-- <a href="#/page">
					<span class="glyphicon glyphicon-question-sign dropdown-toggle" ></span>
				</a> -->
				Biológicos
			</div>
			<table class="table small">
				<thead>
					<tr>
						<th data-bind="visible: hasVlbIb">Indicador</th>
						<th data-bind="visible: hasVlbValor">Valor límite</th>
						<th data-bind="visible: hasVlbMomento">Momento de muestreo</th>
						<th data-bind="visible: hasVlbNotas">Notas</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: valoresLimiteBiologico">
					<tr>
						<td data-bind="visible: indicador">
							<span class="base-ul" data-bind="html: indicador"></span>
						</td>
						<td data-bind="visible: valor">
							<span class="base-ul" data-bind="html: valor"></span>	
						</td>
						<td data-bind="visible: momento, html: momento"></td>
						<td data-bind="visible: $parent.hasVlbNotas">
							<ul class="list-comma" data-bind="foreach: notas">
								<li>
									<div class="dropdown" style="display:inline" data-bind="if: description">
										<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
										<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="html: description"></span>
									</div>
									<span data-bind="text: key"></span>
								</li>
							</ul> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- /ko -->

<!-- ko if: grupos -->
<div class="panel panel-default">
	<div class="panel-heading panel-title">Grupos:</div>
	<div class="panel-body">
		<ul class="list-comma" data-bind="foreach: grupos">
			<li data-bind="html: name"></li>
		</ul>
	</div>
</div>
<!-- /ko -->

<!-- ko if: aplicaciones -->
<div class="panel panel-default">
	<div class="panel-heading panel-title">Usos:</div>
	<div class="panel-body">
		<ul class="list-comma" data-bind="foreach: aplicaciones" style="display:inline">
			<li>
				<div class="dropdown" style="display:inline" data-bind="if: description">
					<a class="dropdown-toggle" data-toggle="dropdown" data-bind="html: name" aria-haspopup="true" aria-expanded="true"></a>
					<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="html: description"></span>
				</div>
				<span data-bind="ifnot: description"><span data-bind="html: name"></span></span>
			</li>
		</ul>
	</div>
</div>
<!-- /ko -->