<div class="list-group">
    <!-- ko if: isRestringida -->
    <div class="list-group-item">
        <div class="list-group-item-heading">Restringida</div>
    </div>
    <!-- /ko -->
    <!-- ko if: isProhibidaEmbarazadas -->
    <div class="list-group-item">
        <div class="list-group-item-heading">Prohibida para trabajadoras embarazadas</div>
    </div>
    <!-- /ko -->
    <!-- ko if: isProhibidaLactantes -->
    <div class="list-group-item">
        <div class="list-group-item-heading">Prohibida para trabajadoras lactantes</div>
    </div>
    <!-- /ko -->
</div>
