<div id="card" class="text-left">
	<div class="card-title">Risctox <span id="nombre" data-bind="text: nombre"></span></div>
	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.sinonimos"></span>
				</div>
				Sinónimos:
			</div>
			<div class="col-xs-8 small" data-bind="text: sinonimos"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.num_cas"></span>
				</div>
				CAS:
			</div>
			<div class="col-xs-8" data-bind="text: num_cas"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content" data-bind="text: descriptions.num_ce_einecs"></span>
				</div>
				EINECS:
			</div>
			<div class="col-xs-8" data-bind="text: num_ce_einecs"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.num_rd"></span>
				</div>
				Nº índice:
			</div>
			<div class="col-xs-8" data-bind="text: num_rd"></div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-muted">
				<div class="dropdown" style="display:inline">
					<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
					<span class="dropdown-menu dropdown-content dropdown-menu-large" data-bind="text: descriptions.listaNegra"></span>
				</div>
				Lista negra ISTAS:
			</div>
			<div class="col-xs-8">
				<ul class="list-comma" data-bind="foreach: listaNegraClassifications">
					<li data-bind="text: $data"></li>
				</ul>
			</div>
		</div>

		<h5 class="text-info">
			<div class="dropdown" style="display:inline">
				<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
				<span class="dropdown-menu dropdown-menu-large dropdown-content text-muted" data-bind="text: descriptions.clp"></span>
			</div>
			Clasificación y etiquetado reglamento 1272/2008
		</h5>

		<div class="row row-xs-flex-center">
			<div class="base-ul col-xs-3 text-muted small vertical-distributed-container" data-bind="foreach: pictograms">
				<div class="dropdown vertical-distributed-container">
					<img data-bind="attr: { src: iconUrl, alt: name }" class="pictogramaImg img-responsive dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="dropdown-menu dropdown-content" data-bind="text: name"></span>
				</div>
			</div>

			<div class="col-xs-9">
				<ul class="base-ul small" data-bind="foreach: frasesH">
					<li>
						<b data-bind="text: value"></b>: <span data-bind="text: description"></span>
					</li>
				</ul>

				<b class="small">Notas: </b>
				<ul class="list-comma" data-bind="foreach: notas" style="display:inline">
					<li>
						<div class="dropdown" data-bind="visible: description" style="display:inline">
							<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
							<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="text: description"></span>
						</div>
						<span  data-bind="text: value"></span>
					</li>
				</ul>

				<table class="table-condensed small">
					<thead>
						<tr>
							<th>Concentración</th>
							<th>Etiquetado</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: concentracionEtiquetado">
						<tr>
							<td data-bind="text: concentracion"></td>
							<td data-bind="text: etiquetado"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h5 class="text-info">
			<a href="#/page">
				<span class="glyphicon glyphicon-question-sign dropdown-toggle" ></span>
			</a>
			Valores límite de exposición profesional
		</h5>
		<table class="table small">
			<thead>
				<tr>
					<th>
						<div class="dropdown" style="display:inline">
							<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
							<span class="dropdown-menu dropdown-menu-large dropdown-content" data-bind="text: descriptions.vla_ec"></span>
						</div>
						VLA-EC
					</th>
					<th>Notas</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: vla_ec">
				<tr>
					<td>
						<ul class="base-ul" data-bind="foreach: values">
							<li data-bind="text: $data"></li>
						</ul>
					</td>
					<td>
						<ul class="list-comma" data-bind="foreach: notas">
							<li>
								<div class="dropdown" style="display:inline" data-bind="visible: description">
									<span class="glyphicon glyphicon-info-sign dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
									<span class="dropdown-menu dropdown-content dropdown-menu-right" data-bind="text: description"></span>
								</div>
								<span data-bind="text: value"></span>
							</li>
						</ul> 
					</td>
				</tr>
			</tbody>
		</table>

		<div>
			<b>Grupos:</b> 
			<ul class="list-comma" data-bind="foreach: groups" style="display:inline">
				<li data-bind="text: $data"></li>
			</ul>
		</div>

		<div>
			<b>Usos:</b>
			<ul class="list-comma" data-bind="foreach: applications" style="display:inline">
				<li class="small" data-bind="text: $data"></li>
			</ul>
		</div>

	</div><!-- div#well -->
</div><!-- div#card -->