<div id="finder" class="text-center">
	<div class="jumbotron blued-background">
		<h1>Base de datos Risctox</h1>
		<p>Información sobre peligros y toxicidad para más de 100.000 sustancias</p>
	</div>
	<div class="well-lg">
		<form action="substance_card.html" role="form">
			<div class="form-group">
				<label for="substance-name">Nombre sustancia</label>
				<input name="subtance-name" type="text" data-bind="value: name" class="form-control" placeholder="Utiliza * al final para buscar por una parte" />
			</div>
			<div class="form-group">
				<label for="substance-number">Número CAS, CE o RD</label>
				<input name="substance-number" type="text" data-bind="value: code" class="form-control" placeholder="Introduce uno de ellos"/>
			</div>
		</form>
		<div data-bind="foreach: messages">
			<p data-bind="html: $data" class="alert alert-danger" role="alert"></p>
		</div>
		<a class="btn btn-primary" data-bind="click: find">Mostrar</a>
	</div>
</div>

<div class="well-sm">
	<div class="row">
		<div class="col-xs-4">
			<img src="http://istas.net/web/img/cajah-logo-fprl.gif" alt="Logo FPRL" style="width: 100px;">
		</div>
		<div class="small col-xs-8 text-muted">
			Los contenidos de esta publicación son responsabilidad exclusiva de la entidad ejecutante y no reflejan necesariamente la opinión de la Fundación de prevención de riesgos laborales (FPRL).
		</div>
	</div>
</div>