<!-- ko if: isCancerigeno -->
<div class="panel panel-default">
    <div class="panel-heading panel-title">Cancerígeno</div>
	<div class="row panel-body" data-bind="if: isCancerigenoIarc">
		<div class="col-xs-3 text-muted">Según IARC:</div>
		<div class="col-xs-9">
			<ul class="base-ul">
				<li data-bind="if: grupo_iarc">Grupo:&nbsp;<span data-bind="text: grupo_iarc"></span></li>
				<li data-bind="if: volumen_iarc">Volumen:&nbsp;<span data-bind="html: volumen_iarc"></span></li>
				<li data-bind="if: notas_iarc">Notas:&nbsp;<span data-bind="html: notas_iarc"></span></li>
			</ul>
		</div>
	</div>
</div>
<!-- /ko -->
<!-- ko if: isCancerOtras -->
<div class="panel panel-default">
    <div role="button" data-toggle="collapse" aria-expanded="false" href="#collapseCancerOtrasFuentes" aria-controls="collapseCancerOtrasFuentes" data-bind="click: loadCancerOtras" class="panel-heading panel-title">
        Cancerígeno según otras fuentes <span class="glyphicon glyphicon-menu-down" ></span>
    </div>
    <div class="collapse panel-body" id="collapseCancerOtrasFuentes">
        <div data-bind="foreach: categorias_cancer_otras">
            <div class="row">
                <div class="col-xs-3 text-muted">
                    Según <span data-bind="text: fuente"></span>:
                </div>
                <div class="col-xs-9">
                    <span data-bind="text: categoria()[0].key"></span>:&nbsp;
                    <span data-bind="html: categoria()[0].description" class="small"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isDisruptor-->
<div class="panel panel-default">
    <div class="panel-heading panel-title">Disruptor endocrino</div>
    <div class="row panel-body">
        <div class="col-xs-2 text-muted">Fuente:</div>
        <div class="col-xs-10">
            <ul class="base-ul" data-bind="foreach: nivel_disruptor">
                <li data-bind="html: description"></li>
            </ul>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isNeurotoxico-->
<div class="panel panel-default">
    <div class="panel-heading panel-title">Neurotóxico</div>
    <div class="panel-body">
        <div data-bind="if: efecto_neurotoxico" class="row">
            <div class="col-xs-2 text-muted">Efecto:</div>
            <div class="col-xs-10">
                <ul class="base-ul" data-bind="foreach: efecto_neurotoxico">
                    <li>
                        <span data-bind="text: key"></span>:&nbsp;
                        <span data-bind="html: description" class="small"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div data-bind="if: nivel_neurotoxico" class="row">
            <div class="col-xs-2 text-muted">Nivel:</div>
            <div class="col-xs-10">
                <ul class="base-ul" data-bind="foreach: nivel_neurotoxico">
                    <li>
                        <span data-bind="text: key"></span>:&nbsp;
                        <span data-bind="html: description" class="small"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div data-bind="if: fuente_neurotoxico" class="row">
            <div class="col-xs-2 text-muted">Fuente:</div>
            <div class="col-xs-10">
                <ul class="base-ul" data-bind="foreach: fuente_neurotoxico">
                    <li data-bind="html: description" class="small"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isToxicoReproduccion -->
<div class="panel panel-default">
    <div class="panel-heading panel-title">Tóxico para la reproducción</div>
    <div class="row panel-body">
        <div class="col-xs-3 text-muted">Según R. 1272/2008</div>
        <div class="col-xs-9">
            <ul class="base-ul" data-bind="foreach: nivel_tpr">
                <li>
                    <span data-bind="text: key"></span>:&nbsp;
                    <span data-bind="html: description" class="small"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isEnfermedad -->
<div class="panel panel-default">
    <div role="button" data-toggle="collapse" aria-expanded="false" href="#collapseEnfermedades" aria-controls="collapseEnfermedades" data-bind="click: loadEnfermedades" class="panel-heading panel-title">
        Enfermedades profesionales <span class="glyphicon glyphicon-menu-down" ></span>
    </div>
    <div class="collapse panel-body" id="collapseEnfermedades">
        <div data-bind="foreach: enfermedades_profesionales" class="list-group" style="padding-left:5px; margin-bottom: 8px;">
            <div data-bind="attr: { href: '#' + $parent.getCollapseEnfermedadId($data), 'aria-controls': $parent.getCollapseEnfermedadId($data) }" role="button" data-toggle="collapse" aria-expanded="false" class="list-group-item">
                <span data-bind="text: nombre"></span>&nbsp;<span class="glyphicon glyphicon-menu-down" ></span>
                <div class="collapse" data-bind="attr: { id: $parent.getCollapseEnfermedadId($data) }">
                    <div data-bind="text: listado" class="text-muted"></div>
                    <div data-bind="if: actividades">
                        <span>Actividades: </span><br>
                        <span class="small" data-bind="html: actividades"></span>
                    </div>
                    <div data-bind="if: sintomas">
                        <span>Sintomas: </span><br>
                        <span class="small" data-bind="html: actividades"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->